<!DOCTYPE html>
<head>
       <title>Add new book</title>
       <link rel="stylesheet" href="./css/signUp.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
       <meta name="generator" content="Bootply" />
       <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		  <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
	  	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
   
    <div class="container">
      <div class="heading">
          <h1>Add New Book</h1>
      </div>
      <form action="/index" onsubmit="return checkInputBook()" class="form" id="form2">
          <div class="form-control" >
              <label >Name of Book</label> 
              <input type="text" placeholder="Enter name of book" id="name" name="bname" >
              <i class="fa fa-check-square"></i>
             <i class="fa fa-exclamation-triangle"></i>
              <small>Error message</small>
          </div>
          
 
          <div class="form-control" >
             <label >Author's Name</label> 
             <input type="text placeholder="Enter your Email" id="authorName" >
             <i class="fa fa-check-square"></i>
             <i class="fa fa-exclamation-triangle"></i>
             <small>Error message</small>
         </div>
         
 
         
        
 
         <div class="form-control">
             <label >Genre</label> 
             <input type="text" placeholder="Which type of book?" id="booktype" >
             <i class="fa fa-check-square"></i>
             <i class="fa fa-exclamation-triangle"></i>
             <small>Error message</small>
         </div>
        
         
         <div class="form-control">
             <label >Published Date</label> 
             <input type="date" placeholder="" id="pdate" >
             <i class="fa fa-check-square"></i>
             <i class="fa fa-exclamation-triangle"></i>
             <small>Error message</small>
         </div>

         
         
         
       
          <button class="submit" type="submit">Submit</button>
          
         <div>
           <a href="/index" class="homebutton">Home</a>
         </div>
        
         
      </form>
     </div>

     <!-- footer starts here -->
     <footer style="margin-bottom: -18vh; background-color: white;">
      <div class="content container-fluid"  >
        <div class="row">
          <div class="col-sm-5">
            <br><p >&copy;All Rights Reserved</p>
          </div> 
          
          <div class="col-md-3">
            <nav class="navbar navbar-default" role="navigation">
                <a href="#" target="_blank"><span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x "></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse "></i>
                </span></a>
                <a href="#" target="_blank"><span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x "></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse "></i>
                </span></a>
                <a href="#" target="_blank"><span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x" ></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span></a>
                <a href="#" target="_blank"><span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                </span></a>
                <a href="#" target="_blank"><span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x "></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span></a>
              </div>
              <div class="col-sm-3">
              <!-- <ul class="nav navbar-nav navbar-right" >
                
                <li><a href="#" style="text-decoration: none;">Terms of Use</a></li>
                <li><a href="#" style="text-decoration: none;">Privacy Policy</a></li>
              </ul> -->
            </nav>
          </div>
        </div> 
      </div> 
      </footer>
      <!-- /footer -->
    
  <script src="./js/signup.js"></script>
</body>
</html>